---
layout: page
title: Sitio no encontrado
image: 07.jpg
permalink: /404.html
---

<div class="page-box">
  <h2>404</h2>
  <p>Parece que buscas algo que no existe!</p>
  <p class="back-arrow"><i class="ion ion-md-arrow-back"></i> <a href="{{site.baseurl}}/">Reglesa a la página de inicio aquí</a></p>
</div>