{% assign without-image = nil %}
<!-- begin article -->
<div class="article">
  <div class="container">

    <div class="article__wrapper">

        {% if post.image %}
          <a href="{{post.url | prepend: site.baseurl}}" class="article__image" style="background-image: url({{site.baseurl}}/images/{{post.image}})">
          </a>
        {% else %}
          {% assign without-image = 'article-without-image' %}
        {% endif %}

        <div class="article__content {{ without-image }}">
          <div class="article-tags">
          {% if post.tags.size >= 1 %}
            <div class="article-tags__box">
              {% for tag in post.tags %}
                <a href="{{ site.baseurl }}/tag/{{ tag }}" class="article__tag">{{ tag }}</a>
              {% endfor %}
            </div>
          {% else %}
          {% endif %}
          </div>
      
          <h2 class="article__title">
            <a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
          </h2>
      
          <p class="article__excerpt">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 185 }}{% endif %}</p>
          
          <div class="article__footer">
            <div class="article__meta">
              <span class="article__date"><time datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}{{ post.date | date: date_format }}</time></span>
            </div>

            <a href="{{post.url | prepend: site.baseurl}}" class="read-more">Ver más <i class="ion ion-ios-arrow-forward"></i></a>
          </div>

        </div>

      </div>
      
  </div>
</div>
<!-- end article -->