<nav class="pagination">
  <div class="container">
    <div class="pagination__list">

      {% if paginator.previous_page %}
      
      {% if paginator.previous_page == 1 %}
        <a class="previous-link" href="/">Previo</a>
      {% else %}
        <a class="previous-link" href="/page/{{ paginator.previous_page }}/">Previo</a>
      {% endif %}
      
      {% else %}
        <span class="disabled">Previo</span>
      {% endif %}

      <div class="counter-box">
        {% if paginator.page == 1 %}
          <span class="active-link">1</span>
        {% else %}
          <a href="/">1</a>
        {% endif %}


        {% for count in (2..paginator.total_pages) %}

        {% if count == paginator.page %}
          <span class="active-link">{{ count }}</span>
        {% else %}
          <a class="count-number" href="/page/{{ count }}/">{{ count }}</a>
        {% endif %}
        {% endfor %}
      </div>

      {% if paginator.next_page %}
      <a class="next-link" href="{{ site.baseurl }}/page/{{ paginator.next_page }}/">Siguiente</a>
      {% else %}
        <span class="disabled">Siguiente</span>
      {% endif %}


    </div>
  </div>
</nav>